.btn {
  display: inline-block;
  margin: 0;
  border-radius: $border-radius;
  border: 0;
  padding: 1em 2em;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $color-dark;
  background-color: $color-btn;
  background-image: none;
  cursor: pointer;
  transition: background-color 0.25s ease;

  @include media-up(sm) {
    padding: 1.4em 4em;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-dark;
    background-color: darken($color-btn, 10%);
  }

  // &:visited {
  //   color: $color-text;
  // }

  &--disabled,
  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    color: $color-text;
    //background-color: $color-gray;
    //border-color: $color-gray;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--lg {
    padding: 1rem 2rem;
  }
}
