.btn {
  display: inline-block;
  margin: 0;
  border-radius: $border-radius;
  // border: 1px solid $color-accent;
  border: 0;
  padding: 0.75rem 1rem;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $color-text;
  background-color: transparent;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-text;
    background-color: darken($color-accent, 10%);
  }

  // &:visited {
  //   color: $color-text;
  // }

  &--disabled,
  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    color: $color-text;
    //background-color: $color-gray;
    //border-color: $color-gray;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--lg {
    padding: 1rem 2rem;
  }
}
