<section class='hero'>
  <div class='hero__content'>
    <div class='tagline'>Explore the Nature Beauty</div>
    <h1 class='heading'><span>Discover</span> Wonderful Indonesia</h1>
    <div class='hero__social'>
      <span class='hero__social-title'>Follow us</span>
      {% include 'social/social.njk' %}
    </div>
    <a class='scroll-down' href='#'>
      <span>Scroll down</span>
      <svg width='16' height='24'>
        <use xlink:href='images/svg/sprite.svg#arrow-down'></use>
      </svg>
    </a>
  </div>
</section>
