<section class='hero'>
  <div class='hero__content'>
    <div class='tagline'>Explore the Nature Beauty</div>
    <h1 class='heading'><span>Discover</span> Wonderful Indonesia</h1>
  </div>
</section>
