.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 10px;
}
.header__container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
