<header class='header'>
  <div class='header__container'>
    {% include '../../logo/logo.njk' %}
    {% include '../../nav/nav.njk' %}
    {% include '../../form-search/form-search.njk' %}
 </div>
</header>
