<form class='form header__form'>
  <button type='submit' class='form-search'>
    <svg width='20' height='20'>
      <title>Search</title>
      <use xlink:href='images/svg/sprite.svg#search'></use>
    </svg>
  </button>
  <input class='form-control' placeholder='Search' type='text' name='search'>
</form>
