.nav {
  position: relative;
  z-index: 10;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @include media-up(md) {
    gap: 50px;
  }

  &.is-open {
    transform: translateX(0%);
  }

  @include media-down(md) {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: fixed;
    top: 0;
    right: 0;
    width: min(75vw, 270px);
    min-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.7);
    z-index: 9;
    transition: transform 0.5s cubic-bezier(0.62, 0.07, 0, 0.7);
    transform: translateX(100%);
  }
}

.menu__link {
  position: relative;
  display: block;
  font-size: 1rem;

  &.active {
    color: $color-accent;
  }
}
