<nav class='nav'>
  {% include '../burger/burger.njk'%}
  <ul class='menu' id='menu'>
    <li class='menu__item'>
      <a href='#' class='menu__link'>Information</a>
    </li>
    <li class='menu__item'>
      <a href='#' class='menu__link'>About us</a>
    </li>
    <li class='menu__item'>
      <a href='#' class='menu__link'>Culture</a>
    </li>
  </ul>
</nav>
