@use 'sass:color';

$font-size-base: 18px;
$font-family: 'Open Sans', sans-serif;
//$font-family--monospace: monospace;
$line-height: 1.6;

$border-radius: 4px;

$color-dark: #2c2b2b;
$color-light: #fff;
$color-accent: #fbd784;

$color-text: $color-light;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
